body {
  padding: 20px;
  background-color: #26262b;
  color: white;
}

.App {
  width: 100%;
}

.btn-primary-dark {
  background:#214a80;
  border:none;
  border-radius:4px;
  padding:11px;
  box-shadow:none;
  margin-top:26px;
  text-shadow:none;
  outline:none;
  color: white;
}
.btn-primary-dark:hover, .btn-primary-dark:active {
  background:#214a80;
  outline:none;
  color: white;
}
.btn-primary-dark:active {
  transform:translateY(1px);
}
