.login-dark {
  max-width:320px;
  width:90%;
  background-color:#1e2833;
  padding:40px;
  border-radius:4px;
  transform:translate(-50%, -50%);
  position:absolute;
  top:50%;
  left:50%;
  color:#fff;
  box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}

.login-dark .form-control {
  background:none;
  border:none;
  border-bottom:1px solid #434a52;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
}

.custom-control-label.rememberme {
  color: #636c77;
}
.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow:none !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
  background-color: #214a80;
  border-radius: 4px;
}

.login-dark .forgot {
  display:block;
  text-align:center;
  font-size:12px;
  color:#6f7a85;
  opacity:0.9;
  text-decoration:none;
}

.login-dark .forgot:hover, .login-dark .forgot:active {
  opacity:1;
  text-decoration:none;
}

.form-control.error {
  border-color: #dc3545;
}
.invalid-feedback.show {
  display: block;
}
